@import url('https://fonts.googleapis.com/css?family=Montserrat');
body
{ 
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
.fixed-content {
    width: auto;
    max-width: 860px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
    text-align: center;
}

.header {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/95581/header.png');
    color: #FFF;
    max-height: 500px;
    height: 100%;
}
.port {
    border-radius: 50%;
    border: 6px #ccc solid;
    width: 16%;
}
.second {
    background: #f2f2f2;
    color: #a9b0ba;
    width: 100%;
}

.footer {
    color: #a9b0ba;
}
.container-fluid {
    padding: 0 1em;
}
  
.container {
    margin: 0 auto;
    max-width: 996px;
}